{% extends 'base.html' %}

{% block title %}{{ info.name }}{% endblock %}

{% block content %}
    <h1>{{ info.name }}</h1>
    <button type="button" id="toggle_btn" class="badge badge-secondary" onclick="toggle()">Hide Received</button>
    <br>
    <br>
    {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Room</th>
          <th scope="col">Sender</th>
          <th scope="col">Quantity</th>
          <th scope="col">Date Delivered</th>
          <th scope="col">Date Received</th>
          {% if user.is_authenticated %}
              {% if user.is_staff %}
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
              {% endif %}
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for parcel in object_list %}
        <tr class="{% if parcel.date_received %}received{% endif %}">
          <th scope="row">{{ parcel.id }}</th>
          <td><a href="{% url "room" parcel.room.id %}">{{ parcel.room }}</a></td>
          <td>{{ parcel.sender }}</td>
          <td>{{ parcel.quantity }}</td>
          <td>{{ parcel.date_delivered }}</td>
          {% if user.is_authenticated %}
              {% if user.is_staff %}
                {% if parcel.date_received %}
                <td>{{ parcel.date_received }}</td>
                <td><a href="" id="update" class="btn btn-primary btn-sm disabled"></a></td>
                <td><a href="" id="delete" class="btn btn-danger btn-sm disabled"></a></td>
                {% else %}
                <td><a href="{% url 'parcel_received' parcel.id %}" id="received" class="btn btn-success btn-sm">Mark as Received</a></td>
                <td><a href="{% url 'parcel_update' parcel.id %}" id="update" class="btn btn-primary btn-sm">Update</a></td>
                <td><a href="{% url 'parcel_delete' parcel.id %}" id="delete" class="btn btn-danger btn-sm">Delete</a></td>
                {% endif %}
              {% endif %}
          {% else %}
              {% if parcel.date_received %}
              <td>{{ parcel.date_received }}</td>
              {% else %}
              <td>Not Received</td>
              {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <p>No parcels found for this room</p>
    {% endif %}

    {% if user.is_authenticated %}
        {% if user.is_staff %}
        <br>
          <a href="{% url 'parcel_add' %}" id="add" class="btn btn-primary">Add Parcel</a>
        {% endif %}
    {% else %}
        {% if not info.room %}
        <form method="post">
          {% csrf_token %}
          {% include 'includes/bs4_form.html' with form=form %}
          <button type="submit" id="update_btn" class="btn btn-primary">{{ info.action }}</button>
        </form>
        {% else %}
        <div class="">
          Subscribed to Room {{ info.room }}. To unsubscribe find the link in your email.
        </div>
        {% endif %}
    {% endif %}

    <script type="text/javascript">
      var show = true
      function toggle() {
          show = !show
          if (show) {
            $('.received').show()
            document.getElementById("toggle_btn").innerHTML = "Hide Received"
          } else {
            $('.received').hide()
            document.getElementById("toggle_btn").innerHTML = "Show Received"
          }
      }
    </script>
{% endblock %}
